@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.espaco{
    margin-top: 100px;
}

#conteudo{
    margin-top: 40px;
    margin-left: 500px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    width: 600px;
    height: 200px;
}

h1{

    margin-left: 40px;
}

p{
    margin-left: 40px;
}

iframe{
    margin-left: 500px;
    margin-top: 240px;
}